@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-body: var(--font-inter);
  --font-headline: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-surface-container-low {
  --tw-bg-opacity: 1;
  background-color: rgb(242 244 246 / var(--tw-bg-opacity, 1));
}
.text-on-primary-container {
    --tw-text-opacity: 1;
    color: rgb(184 204 255 / var(--tw-text-opacity, 1));
}
.bg-primary-container {
    --tw-bg-opacity: 1;
    background-color: rgb(18 82 179 / var(--tw-bg-opacity, 1));
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope), sans-serif;
}
